{% if site.sharing.twitter or site.sharing.facebook or site.sharing.gplus or site.sharing.hn %}
<div class="social">
    {% if site.sharing.twitter %}<div>
        <a href="https://twitter.com/share" class="twitter-share-button" {% if site.sharing.twitter.via %}data-via="{{ site.sharing.twitter.via }}"{% endif %} data-text="{{ page.title }}" data-related="{{ site.twitter }}">Tweet</a>
    </div>
    {% endif %}

    {% if site.sharing.facebook %}
    <div>
        <div class="fb-like" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
    </div>
    {% endif %}

    {% if site.sharing.gplus %}
    <div>
        <div class="g-plusone" data-size="medium"></div>
    </div>
    {% endif %}
</div>
{% endif %}