<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

        <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
        <!-- <link rel="dns-prefetch" href="//platform.twitter.com">
        <link rel="dns-prefetch" href="//p.twitter.com">
        <link rel="dns-prefetch" href="//cdn.api.twitter.com">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//www.google-analytics.com"> -->

        <title>
            {% if page.title %}
            {{ page.title }} &mdash; {{ site.title }}
            {% else %}
            {{ site.title }} &mdash; {{ site.tagline }}
            {% endif %}
        </title>

        {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt }}"/>
        {% else if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        
        <!-- Google -->
        {% if site.gplus %}
        <link rel="publisher" href="https://plus.google.com/{{ site.gplus }}">
        {% endif %} 

        <!-- Misc -->
        <meta name="author" content="humans.txt">
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <link rel="apple-touch-icon" href="/assets/imgs/icon.png">
        <meta name="apple-mobile-web-app-title" content="{{ site.short_name }}">

        <!-- CSS -->
        <link rel="stylesheet" href="/assets/css/master.css">
        {% if site.google_font %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family={{ site.google_font }}">
        {% endif %}

        <!-- RSS -->
        <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }}" />

    </head>
    <body class="page  {{ page.page-class }}">

        <div class="siteContainer">
            {% include site-header.html %}

            <div class="mainContent">
                {{ content }}
            </div> <!-- /.content -->

            {% include site-footer.html %}
        </div> <!-- /.site -->

        {% include site-scripts.html %}

    </body>
</html>