---
layout: default
page-class: page--post
---

<article class="post">
    <header class="post-header">
        <h1 class="post-header-title">{{ page.title }}</h1>
    </header>

    <span class="post-date">{{ page.date | date_to_string }}</span>

    <div class="post-entry">
        {{ content }}
    </div>
</article>

<section class="relatedPosts">
    <header class="relatedPosts-header">
        <h2 class="relatedPosts-header-title">Related Posts</h2>
    </header>
  
    <ul class="relatedPosts-list">
        {% for post in site.related_posts limit:5 %}
            <li>
                <h3>
                    <a href="{{ post.url }}">
                        {{ post.title }} <small>{{ post.date | date_to_string }}</small>
                    </a>
                </h3>
            </li>
        {% endfor %}
    </ul>
</section>